<%- include("../partials/header")  %> 

<link rel="stylesheet" href="css/logsin.css">

</head>
<body>


<!-- Header ended here  -->


<div class="container-fluid">

<div class="row">
    <div class="col-lg-6 left">
      <div class="row login-container">
        <div class="col-lg-1"></div>
        <div class="col-lg-10 col-md-9 col-11 loginStyling">

          <%- include("../partials/flash") %>


          <div class="display-5 mb-3 mt-3 text-center loginHeading">
            <h1>Login</h1>
          </div>
          <form action="/login" method="POST">
              
              <div class="mb-1">
                <label for="username" class="form-label">Username</label>
                <input type="text" class="form-control" name ="username" placeholder="Please enter your username"  id="username" >
              </div>
  
              <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <input type="password" class="form-control" name ="password" placeholder="Please enter your password"  id="password" >
              </div>
  
              <div class="mb-3">
                <p><a style="text-decoration: none;" href="/register"> Not a user? Register here</a></p>
              </div>
  
              <button type="submit"  class=" form-control btn btn-primary">Submit</button>
            </form>
  
      </div>
      <div class="col-lg-1"></div>

      </div>

    </div>
    <div class="col-lg-6 right">
      <div class="row heading-container">
        <div class="col-lg-1"></div>
        <div class="col-lg-10 heading" style="text-align:center;">
          <img src="https://www.searchpng.com/wp-content/uploads/2018/12/Splash-Twitter-Icon-Png-715x715.png" alt="">
        </div>
        <div class="col-lg-1"></div>
      </div>
    </div>


</div>


</div>



<%- include("../partials/footer")  %> 