

<div class="d-none d-lg-block col-lg-4"> 
    <div class="row trends">
        <div class=" apiOne scroll  col-lg-11">
            <h4> Popular </h4>
            <div class="newsItems1 ">

                

                </div>

            </div>
        </div>

        <div class=" apiTwo scroll  col-lg-11">
            <h4>Wall Street</h4>
            <div class="newsItems1">

            </div>
        </div>

    </div>



    
</div>