<nav class="col-3 col-md-5 col-lg-3 navbarSection">
  <button 
    style="border: none; background-color:transparent"
    type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample"
  >
      
    
    <i class="fab fa-twitter  brand " ></i>
    </button> 

   

        <a href="/" class="anchorNav " >
            <i class=" icon fas fa-home" ></i>
            <span>Home</span>
        </a>
    
        <a href="#" class="anchorNav">
            <i class="icon fas fa-search"></i>
            <span>Search</span> 
        </a>
    
        <a href="#" class="anchorNav">
            <i class="icon far fa-bell">
            </i><span>Notifications</span>
        </a>
        <a href="/messages" class="anchorNav">
            <i class="icon far fa-envelope"></i>
            <span>Messages</span> 
        </a>
        <a href="/profile" class="anchorNav">
            <i class="icon far fa-user"> </i>
            <span>Profile</span>
        </a>
        <a href="/logout" class="anchorNav">
            <i class="icon fas fa-sign-out-alt"></i>
            <span>Logout</span>
        </a>
        
  


</nav>